<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>
  <% end %>
</div>

<h1><%= @students.first_name %></h1>
<h1><%= @students.last_name %></h1>
